12-OpenSource-Networkx-Python/datasets/divvy_2013 filter=lfs diff=lfs merge=lfs -text
12-OpenSource-Networkx-Python/datasets/ego-facebook filter=lfs diff=lfs merge=lfs -text
12-OpenSource-Networkx-Python/datasets/moreno_crime filter=lfs diff=lfs merge=lfs -text
12-OpenSource-Networkx-Python/datasets/moreno_innovation filter=lfs diff=lfs merge=lfs -text
12-OpenSource-Networkx-Python/datasets/moreno_propro filter=lfs diff=lfs merge=lfs -text
12-OpenSource-Networkx-Python/datasets/moreno_seventh filter=lfs diff=lfs merge=lfs -text
12-OpenSource-Networkx-Python/datasets/munmun_twitter_social filter=lfs diff=lfs merge=lfs -text
12-OpenSource-Networkx-Python/datasets/sociopatterns-infectious filter=lfs diff=lfs merge=lfs -text
